.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination {
  left: -2% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.3rem !important;
  font-weight: 600;
}
